{% extends 'users/base.html' %}
{% block content %}
    <div class="mt-5 row justify-content-center">
        <form method="POST" class="card col-6 p-5 mt-3">
        {% csrf_token %}
        <h2>Are you sure you want to delete the habit "{{ object.name }}"</h2>
          <button type="submit" class="btn btn-danger btn-small col-3 m-3">Yes, Delete</button>
          <a class="btn btn-secondary btn-small col-3 m-3" href="{% url 'habit-detail' object.id %}">Cancel</a>
        </form>
    </div>
{% endblock %}